@{
    var surveyList = ViewData["SurveyList"] as List<SurveyHeadModel>;
}

<section class="container p-3 m-3">
    <h1 class="text-center">@ViewData["Title"]</h1
</section>
<section class="container p-3 m-3">
    <div class="row">
        <div class="col-12">
            <h3 class="text-left m-2">Name person</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="@Url.Action("Create", "Question")">New questionary</a>
                </li>
                <li class="list-group">
                    <a id="btn-logout" class="btn btn-primary btn-sm">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="container p-3 m-3">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center m-2">@ViewData["HomeQuestionsListTitle"]</h3>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <th>No.</th>
                    <th>Questionary</th>
                    <th>Description</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    @if (surveyList != null)
                    {
                        for (int i = 0; i < surveyList.Count; i++)
                        {
                            <tr>
                                <td>@(i + 1)</td>
                                <td>@surveyList[i].title</td>
                                <td>@surveyList[i].description</td>
                                <td>
                                    @* if is in_review show the copy link btn *@
                                    @if (!surveyList[i].is_in_review)
                                    {
                                        <a class="btn btn-secondary btn-sm" onclick="copyLink(@surveyList[i].id)" data-survey-item-id="@surveyList[i].id">Copy link</a>
                                    }
                                    @if (surveyList[i].is_in_review)
                                    {
                                        <a class="btn btn-success btn-sm" onclick="publishSurvey(@surveyList[i].id)">Publish</a>
                                    }                                    
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
<script src="~/js/survey.js" asp-append-version="true"></script>


